* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Inclui padding e bordas no tamanho total do elemento */
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Impede a rolagem lateral */
}

body {
    background-color: #261c4e;
}

/* ----------------------------- Cabeçalho ----------------------------- */
.header-links {
    background-color: #100C35;
    width: 100%; /* Usando 100% para evitar ultrapassar a largura da tela */
    height: 12vh;
    display: flex;
    justify-content: space-between; /* Distribui os links igualmente */
    align-items: center; /* Alinha verticalmente */
    padding: 0 20px; /* Padding horizontal */
}

a.link {
    text-decoration: none;
    color: white;
    font-size: larger;
    padding-right: 22px;
}

/* ----------------------------- Seção Principal ----------------------------- */
.main-section {
    background-color: #100C35;
    height: 578px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-right: 85px;
}

.text-info {
    color: white;
    padding: 20px;
    font-size: 1.6rem;
    transform: translate(-317px, -128px);
}

.button-project {
    width: 146px;
    height: 47px;
    background: linear-gradient(45deg, #e5b524, #e58c1f, #e8633b, #c24242, #e05248);
    font-size: 1.8rem;
    font-family: ui-monospace;
}

.button-contact {
    width: 146px;
    height: 47px;
    background-color: transparent;
    color: #fd505f;
    font-size: 1.8rem;
    font-family: ui-monospace;
    border: #fd505f solid;
}

/* ----------------------------- Seção Sobre Mim ----------------------------- */
.about-me {
    display: flex;                
    flex-direction: row;          
    flex-wrap: wrap;              
    justify-content: flex-start;  
    width: 988px;                 
    height: 365px;                
    background-color: #100C35;    
    transform: translate(10px, 168px);
    margin: auto; 
}

.about-me-title {
    font-family: serif;
    font-size: 3rem;
    color: white;
    text-indent: 10px;
}

.about-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    text-indent: 10px;
}

.about-item {
    font-size: 1.8rem;
    color: white;
    margin-right: 207px;
}


.about-item-container {
    display: flex;                 
    flex-direction: column;        
    gap: 10px;                     
    align-items: flex-start;       
}

.about-paragraf {
    font-size: 1.6rem;
    line-height: 1.6;
    color: whitesmoke;
}
